name: Export Footlight-CMS entities to Artsdata v2

on:
  workflow_call:
    inputs:
      calendar_id:
        required: true
        type: string
      login_email:
        required: true
        type: string
      server_url:
        description: "The Footlight CMS server URL"
        required: false
        type: string
        default: "https://api.cms.footlight.io"
      artsdata_databus_url:
        description: "Artsdata databus URL"
        required: false
        type: string
        default: "http://api.artsdata.ca/databus/"
      
    secrets:
      PUBLISHER_URI_GREGORY:
        required: true
      S3_ACCESS_KEY_ID:
        required: true
      S3_SECRET_ACCESS_KEY:
        required: true
      LOGIN_PASSWORD:
        required: true
      AWS_SES_ACCESS_KEY:
        required: true
      AWS_SES_SECRET_ACCESS_KEY:
        required: true

jobs:
  get-rdf-data:
    runs-on: ubuntu-latest
    outputs:
      calendar-slug: ${{ steps.get-calendar-slug.outputs.CALENDAR_SLUG }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to CMS
        id: login-step
        run: |
          response=$(curl -s -X 'POST' \
            '${{inputs.server_url}}/login' \
            -H 'accept: */*' \
            -H 'Content-Type: application/json' \
            -H 'Referer: ${{inputs.server_url}}/export' \
            -d '{
                "email": "'"${{inputs.login_email}}"'",
                "password": "'"${{secrets.LOGIN_PASSWORD}}"'"
            }')
          token=$(echo $response | jq -r '.accessToken')
          echo "::add-mask::$token" # Mask the token
          echo "ACCESS_TOKEN=$token" >> $GITHUB_OUTPUT

      - name: Get calendar slug
        id: get-calendar-slug
        run: |
          response=$(curl -X 'GET' \
              "${{inputs.server_url}}/calendars/${{inputs.calendar_id}}" \
              -H "accept: */*" \
              -H "Authorization: Bearer ${{steps.login-step.outputs.ACCESS_TOKEN}}" \
              -H "Referer: ${{inputs.server_url}}/export")

          slug=$(echo "$response" | jq -r '.slug')

          echo "CALENDAR_SLUG=$slug" >> $GITHUB_OUTPUT

      - name: Export entities
        id: export-entities
        run: |
          set -euo pipefail
          
          curl --fail -s -o events.jsonld \
            -H "accept: */*" \
            -H "calendar-id: ${{inputs.calendar_id}}" \
            -H "Referer: ${{inputs.server_url}}/export" \
            -H "Authorization: Bearer ${{steps.login-step.outputs.ACCESS_TOKEN}}" \
            "${{inputs.server_url}}/entities/Event/export?file-format=jsonld&upcoming-events-only=true"
          
          curl --fail -s -o people.jsonld \
            -H "accept: */*" \
            -H "calendar-id: ${{inputs.calendar_id}}" \
            -H "Referer: ${{inputs.server_url}}/export" \
            -H "Authorization: Bearer ${{steps.login-step.outputs.ACCESS_TOKEN}}" \
            "${{inputs.server_url}}/entities/Person/export?file-format=jsonld"
          
          curl --fail -s -o organizations.jsonld \
            -H "accept: */*" \
            -H "calendar-id: ${{inputs.calendar_id}}" \
            -H "Referer:${{inputs.server_url}}/export" \
            -H "Authorization: Bearer ${{steps.login-step.outputs.ACCESS_TOKEN}}" \
            "${{inputs.server_url}}/entities/Organization/export?file-format=jsonld"
          
          curl --fail -s -o places.jsonld \
            -H "accept: */*" \
            -H "calendar-id: ${{inputs.calendar_id}}" \
            -H "Referer: ${{inputs.server_url}}/export" \
            -H "Authorization: Bearer ${{steps.login-step.outputs.ACCESS_TOKEN}}" \
            "${{inputs.server_url}}/entities/Place/export?file-format=jsonld"
          
          curl --fail -s -o taxonomies.jsonld \
            -H "accept: */*" \
            -H "calendar-id: ${{inputs.calendar_id}}" \
            -H "Referer: ${{inputs.server_url}}/export" \
            -H "Authorization: Bearer ${{steps.login-step.outputs.ACCESS_TOKEN}}" \
            "${{inputs.server_url}}/entities/Taxonomy/export?file-format=jsonld"

      - name: Concatenate jsonld files
        id: concat-jsonld
        run: python ./util/concat-jsonld.py ${{steps.get-calendar-slug.outputs.CALENDAR_SLUG}}.jsonld

      - name: Upload entities in JSON-LD to S3
        id: upload-s3
        uses: keithweaver/aws-s3-github-action@v1.0.0
        with:
          command: cp
          source: ${{steps.get-calendar-slug.outputs.CALENDAR_SLUG}}.jsonld
          destination: s3://footlight-cms-entities-exported/
          aws_access_key_id: ${{ secrets.S3_ACCESS_KEY_ID}}
          aws_secret_access_key: ${{ secrets.S3_SECRET_ACCESS_KEY }}
          aws_region: ca-central-1
          flags: --acl public-read --content-type application/ld+json

  import-entities-to-artsdata:
    runs-on: ubuntu-latest
    needs: get-rdf-data
    steps:
      - name: Call artsdata pipeline action
        uses: culturecreates/artsdata-pipeline-action@v3
        with:
          mode: "push"
          artifact: "${{needs.get-rdf-data.outputs.calendar-slug}}"
          publisher: ${{ secrets.PUBLISHER_URI_GREGORY }}
          downloadUrl: "https://footlight-cms-entities-exported.s3.ca-central-1.amazonaws.com/${{needs.get-rdf-data.outputs.calendar-slug}}.jsonld"
          custom-databus-url: "${{inputs.artsdata_databus_url}}"

  send-failure-notification:
    runs-on: ubuntu-latest
    needs: import-entities-to-artsdata
    if: failure()
    steps:
    - name: Send email via Amazon SES
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_SES_ACCESS_KEY }}
        aws-secret-access-key: ${{ secrets.AWS_SES_SECRET_ACCESS_KEY }}
        aws-region: ca-central-1
    - name: Send email
      run: |
        aws ses send-email \
          --from ${{vars.FOOTLIGHT_INFO_EMAIL}} \
          --destination "ToAddresses=${{ vars.MEDIUM_ALERTS_EMAIL }}" \
          --message "Subject={Data='Medium Alert - ${{github.repository}} [${{github.workflow}}]'},Body={Text={Data='${{github.workflow}} in ${{github.repository}} failed.'}}"
